header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  background-color: black;
  z-index: 2;
}

header>nav {
  display: flex;
  gap: 40.75px;
  align-items: center;
  padding: 10px 0px;
}

.navigation-link {
  color: white;
  font-family: ' sans-serif';
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 31.002px;
  letter-spacing: 0.112px;
}

.navigation-link>img {
  vertical-align: bottom;
}

.search-icon-custom {
  width: 25px;
  height: 40px;
  overflow: hidden;
}

section {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.shopping_event {
  display: flex;
  flex: 1;
  background-image: url("/assets/shopping_event_background.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;

}

.shopping_event>.typography {
  display: flex;
  flex-direction: column;
  margin-top: 95px;
}

.typography>h1 {
  color: #F5F5F7;
  text-align: center;
  font-family: 'SF Pro Display, sans-serif';
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: -0.28px;
}



.typography>p {
  color: #6E6E73;
  text-align: center;
  font-family: 'SF Pro Display, sans-serif';
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 31.002px;
  letter-spacing: 0.112px;
  margin-top: 4px;
  width: 555px;
}

.typography>a {
  color: #2997FF;
  text-align: center;
  font-family: 'SF Pro Display, sans-serif';
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 29.001px;
  letter-spacing: 0.231px;
  margin-top: 15px;
}

.streaming_now {
  display: flex;
  flex: 1;
  flex-direction: column;
  background: url('assets/now_strimming_background.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.streaming_now>div {
  display: flex;
  flex: 1;
}

.streaming_now_actors {
  display: flex;
  flex: 1;
}

.streaming_now_actors>div {
  display: flex;
  flex: 1;
}

.actor-left p,
.actor-right p {
  color: #DED2B9;
  text-align: center;
  font-family: 'SF Pro Display, sans-serif';
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.6px;
}

.actor-left {
  justify-content: flex-end;
  align-items: center;
  margin-right: 300px;

}

.actor-left>p {
  margin-right: 230px;
  margin-bottom: 40px;
}

.actor-right {
  justify-self: flex-start;
  align-items: center;
}

.actor-right>p {
  margin-left: 138px;
  margin-bottom: 40px;
}

.streaming_now_description {
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 80px;
}

.streaming_now_description p {
  text-align: center;
}

.streaming_now_description .subtitle {
  color: #F5F5F7;
  text-align: center;
  font-family: "SF Pro Display, sans-serif";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 31.002px;
  /* 110.722% */
  letter-spacing: 0.112px;
  margin-bottom: 14px;
}

.streaming_now_description .label {
  color: #FFF;
  text-align: center;
  font-family: 'SF Pro Display, sans-serif';
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 29.001px;
  letter-spacing: 0.231px;
}

.new_iphone {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: flex-start;

  background: url('assets/iphone_background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.new_iphone_info {
  margin-top: 100px;
}

.new_iphone_info>h1 {
  color: #1D1D1F;
  text-align: center;
  font-family: 'SF Pro Display';
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  /* 107.143% */
  letter-spacing: -0.28px;
}

.new_iphone_info>p {
  color: #1D1D1F;
  text-align: center;
  font-family: 'SF Pro Display';
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 31.002px;
  /* 110.722% */
  letter-spacing: 0.112px;
  margin-top: 6px;
}

.new_iphone_info a {
  color: #06C;
  text-align: center;
  font-family: 'SF Pro Display, sans-serif';
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 29.001px;
  letter-spacing: 0.231px;
}

.new_iphone_info>div {
  text-align: center;
  margin-top: 14px;
}

.new_iphone_info>div>a {
  padding-right: 25px;
}

#apple-products {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.apple-product-card {
  display: flex;
  flex: 1 0 50%;
  height: 580px;

}

.product-info h2 {
  /* color: #F5F5F7; */
  text-align: center;
  font-family: 'SF Pro Display', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  margin-bottom: 4px;
}

.iphone-product h2 {
  color: #F5F5F7;
}

.iphone-product p {
  color: #F5F5F7;
}

.product-info p {
  text-align: center;
  font-family: 'SF Pro Display', sans-serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.336px;
  margin-bottom: 13px;
}

.product-info a {
  color: #2997FF;
  text-align: center;
  font-family: 'SF Pro Text';
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.001px;
  letter-spacing: -0.374px;
}

.apple-product-card>div {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: flex-start;
  padding-top: 50px;
}

.product-links {
  display: flex;
  gap: 12px;
  text-align: center;
  justify-content: center;
  padding-right: 25px;
}


.iphone-product {
  background-image: url('assets/ihone14Pro.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.iPad-product {
  background-image: url('assets/ipad.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.iPad-product h2 {
  color: #1D1D1F;
}

.iPad-product p {
  color: #1D1D1F;
}

.airpods-product{
  background-image: url('assets/AirPods.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.airpods-product h2 {
  color: #1D1D1F;
}

.airpods-product p {
  color: #1D1D1F;
}

.apple-watch{
  background-image: url('assets/Apple-Watch.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.apple-watch h2 {
  color: #F5F5F7;
  width: 240px;
}

.apple-watch p {
  color: #F5F5F7;
}

.apple-watch  h2 > span {
  color: red;
  font-size: 18px;
}

.apple-watch-ultra{
  background-image: url('assets/Apple-Watch-Ultra.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.apple-watch-ultra h2 {
  color: #1D1D1F;
  width: 240px;
}

.apple-watch-ultra p {
  color: #1D1D1F;
}

.apple-watch-ultra  h2 > span {
  color: #fd8c49;
  font-size: 18px;
}

.apple-card{
  background-image: url('assets/Apple-Card.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.apple-card h2 {
  color: #1D1D1F;
}

.apple-card p {
  color: #1D1D1F;
}

.swiper {
  display: flex;
  flex: 1;
  z-index: 1;
}